### Find Community Name and Community Number

Given list of address with latitude and longitude and geoJSON file of Chicago community Boundaries (https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Boundaries-Community-Areas-current-/cauq-8yn6),
currenlty trying to find which community each address belongs to.

In [61]:
# To purse JSON and geoJSON
import json
from shapely.geometry import shape, Point   # Depending on your version, use: from shapely.geometry import shape, Point

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [62]:
# Load list of address
house_loc_filtered = pd.read_csv('Chicago_address.csv')
# house_loc_filtered['latitude'] = house_loc_filtered['latitude'].astype('str')
# house_loc_filtered['longitude'] = house_loc_filtered['longitude'].astype('str')
house_loc_filtered.head()

# The goal is to add two columns in this talbe, one is community_name, and the other is community_area_number

                   address   latitude  longitude
0       5313 N DELPHIA AVE  41.975871 -87.841434
1        2221 N FREMONT ST  41.922454 -87.650801
2      4446 N PARKSIDE AVE  41.961867 -87.768828
3      6964 W DIVERSEY AVE  41.931001 -87.800237
4  2336 N COMMONWEALTH AVE  41.924814 -87.638585

In [63]:
# This community_finder requires a latitude, a longitude, and a loaded geoJSON file as inputs 
def comm_finder(lat, lng, js):
    # construct point based on lon/lat returned by geocoder
    point = Point(lng, lat)  # Point class from shapely library; (longitude,latitude)

    # check each polygon to see if it contains the point
    for i,feature in enumerate(js['features']):
        polygon = shape(feature['geometry']) # shape method from shapely library
        if polygon.contains(point): # if contains, return community name and area number
            return (feature['properties']["community"],feature['properties']["area_numbe"])
        elif i == len(js['features'])-1:
            return (np.nan,np.nan)  # if doesn't, return NaN value
        else:
            continue

In [64]:
# with open('Boundaries_Community_Areas.geojson') as f:
#     js = json.load(f)

# # js['features'][2]['properties']['community']

# feature = js['features'][0]
# point = Point(41.97587125,-87.841434)
# polygon = shape(feature['geometry'])
# print(point)
# polygon.contains(point)

In [65]:
# load GeoJSON file containing sectors
with open('Boundaries_Community_Areas.geojson') as f:
    js = json.load(f)

# Initializing output lists
community_name = []
community_code = []

# Iterating through all house locations
for lat, lng in zip(house_loc_filtered['latitude'],house_loc_filtered['longitude']):
    cmm, cmm_num = comm_finder(lat, lng, js)
    community_name.append(cmm)
    community_code.append(cmm_num)

In [68]:
house_loc_filtered['community'] = community_name
house_loc_filtered['community_area_code'] = community_code
house_loc_filtered.head()

,address,latitude,longitude,community,community_area_code
0,5313 N DELPHIA AVE,41.975871,-87.841434,OHARE,76
1,2221 N FREMONT ST,41.922454,-87.650801,LINCOLN PARK,7
2,4446 N PARKSIDE AVE,41.961867,-87.768828,PORTAGE PARK,15
3,6964 W DIVERSEY AVE,41.931001,-87.800237,MONTCLARE,18
4,2336 N COMMONWEALTH AVE,41.924814,-87.638585,LINCOLN PARK,7

In [69]:
print(house_loc_filtered.shape)
house_loc_filtered.dropna(subset = 'community_area_code',inplace = True)
print(house_loc_filtered.shape)

(219, 5)
(185, 5)

In [70]:
house_loc_filtered.head()

,address,latitude,longitude,community,community_area_code
0,5313 N DELPHIA AVE,41.975871,-87.841434,OHARE,76
1,2221 N FREMONT ST,41.922454,-87.650801,LINCOLN PARK,7
2,4446 N PARKSIDE AVE,41.961867,-87.768828,PORTAGE PARK,15
3,6964 W DIVERSEY AVE,41.931001,-87.800237,MONTCLARE,18
4,2336 N COMMONWEALTH AVE,41.924814,-87.638585,LINCOLN PARK,7