# Data Science Capstone Project

This project is to practice all skills learn from the entire course and apply those knowledge to a near industrial project.

In [127]:
# To purse JSON and geoJSON
import json
from shapely.geometry import shape, Point   # Depending on your version, use: from shapely.geometry import shape, Point

# !pip install geocoder
import geocoder

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# !conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

%load_ext sql
%matplotlib inline

# Enable IBM_db2 Database Access
%sql ibm_db_sa://trj52137:z89xgm4f30nmqh%5Eg@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB

print('Hello Capstone Project Course!')

Libraries imported.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Hello Capstone Project Course!

In [220]:
# Importing Cook County Housing Sales Data using API provided by Cook County

# make sure to install these packages before running:
# pip install pandas
# !pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("datacatalog.cookcountyil.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(datacatalog.cookcountyil.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("5pge-nu6u", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
sale_2018 = results_df[results_df['sale_year']=='2018']
sale_2018 = sale_2018.reset_index(drop = True)
# sale_2018.head()
house_location = pd.DataFrame(columns = ['address','latitude','longitude'])
house_location['address'] = sale_2018['addr']

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [221]:
# # Testing for the code in the loop below
# address = house_location['address'].iloc[0] + ",Chicago, IL, USA"
# location = geolocator.geocode(address)
# print(location)

In [222]:
# Getting coordinations for each house sold in 2018
house_latitudes = []
house_longitudes = []
geolocator = Nominatim(user_agent="house_explorer")

for i in range(house_adrs.shape[0]):
    address = house_location['address'].iloc[i] + ", Chicago, IL, USA"
    location = geolocator.geocode(address)
    if location == None:
        house_latitudes.append(np.nan)
        house_longitudes.append(np.nan)
    else:
        house_latitudes.append(location.latitude)
        house_longitudes.append(location.longitude)
    
house_location['latitude'] = house_latitudes
house_location['longitude'] = house_longitudes

In [223]:
house_location.head()

               address   latitude  longitude
0    4431 PRESCOTT AVE        NaN        NaN
1   5313 N DELPHIA AVE  41.975871 -87.841434
2    2221 N FREMONT ST  41.922454 -87.650801
3  4446 N PARKSIDE AVE  41.961867 -87.768828
4  1926 PRAIRIE SQUARE        NaN        NaN

In [226]:
# Dropping addresses not in Chicago
house_loc_filtered = house_location.dropna().reset_index(drop=True)
print(house_loc_filtered.shape)
house_loc_filtered.head()

(219, 3)

                   address   latitude  longitude
0       5313 N DELPHIA AVE  41.975871 -87.841434
1        2221 N FREMONT ST  41.922454 -87.650801
2      4446 N PARKSIDE AVE  41.961867 -87.768828
3      6964 W DIVERSEY AVE  41.931001 -87.800237
4  2336 N COMMONWEALTH AVE  41.924814 -87.638585

In [238]:
house_loc_filtered.to_csv('data/Chicago_address.csv', index = False)

In [235]:
# This function requires a latitude, a longitude, and a loaded geoJSON file as inputs 
def comm_finder(lat, lng, js):
    # construct point based on lon/lat returned by geocoder
    point = Point(lng, lat)  # Point class from shapely library

    # check each polygon to see if it contains the point
    for feature in js['features']:
        polygon = shape(feature['geometry']) # shape method from shapely library
        if polygon.contains(point):
            return (feature['properties']["community"],feature['properties']["area_numbe"])
        else:
            return (np.nan,np.nan)

In [233]:
# load GeoJSON file containing sectors
with open('data/Boundaries_Community_Areas.geojson') as f:
    js = json.load(f)

community_name = []
community_code = []

for lat, lng in zip(house_loc_filtered['latitude'],house_loc_filtered['longitude']):
    cmm, cmm_num = comm_finder(lat, lng, js)
    community_name.append(cmm)
    community_name.append(cmm_num)

### 1. Finding Best Neighborhoods Based on Census Data

#### 1.1 Load Data and Find Top 10

In [249]:
# Getting Census Data form IBM_DB2 SQL Database
nbhd_hardship = %sql SELECT hardship_index, community_area_name, community_area_number, percent_aged_25__without_high_school_diploma, per_capita_income FROM CENSUS_DATA ORDER BY hardship_index NULLS LAST;
columns = ['hardship_index', 'community_area_name', 'community_area_number', 'percent_aged_25__without_high_school_diploma', 'per_capita_income']
nbhd_hardship = pd.DataFrame(nbhd_hardship, columns = columns)

# extract chicago's average on census data (not including hardship_index)
chicago_avg = nbhd_hardship[nbhd_hardship['hardship_index'].isnull()]

# print(nbhd_hardship.shape) 
nbhd_hardship.dropna(axis = 0, subset = ['community_area_number'],inplace = True)
# print(nbhd_hardship.shape)
nbhd_hardship['community_area_number'] = nbhd_hardship['community_area_number'].astype(int)

 * ibm_db_sa://trj52137:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

In [250]:
nbhd_hardship.head() 
# contains all community areas
# can be combined with all other fators for machine learning algorithm'use

,hardship_index,community_area_name,community_area_number,percent_aged_25__without_high_school_diploma,per_capita_income
0,1.0,Near North Side,8,2.5,88669
1,2.0,Lincoln Park,7,3.6,71551
2,3.0,Loop,32,3.1,65526
3,5.0,Lake View,6,2.6,60058
4,6.0,North Center,5,4.5,57123

#### 1.2 Finding coordinates for top 10 neighborhoods

In [251]:
nbhd_rank_hd = nbhd_hardship.head(10)

In [252]:
# Getting coordinations for each neighborhood
latitudes = []
longitudes = []
geolocator = Nominatim(user_agent="nb_explorer")

for i in range(nbhd_rank_hd.shape[0]):
    address = nbhd_rank_hd['community_area_name'].iloc[i] + ",Chicago, IL, USA"
    location = geolocator.geocode(address)
    latitudes.append(location.latitude)
    longitudes.append(location.longitude)
    
nbhd_rank_hd['latitude'] = latitudes
nbhd_rank_hd['longitude'] = longitudes

nbhd_rank_hd.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,hardship_index,community_area_name,community_area_number,percent_aged_25__without_high_school_diploma,per_capita_income,latitude,longitude
0,1.0,Near North Side,8,2.5,88669,41.900033,-87.634497
1,2.0,Lincoln Park,7,3.6,71551,41.940298,-87.638117
2,3.0,Loop,32,3.1,65526,41.881609,-87.629457
3,5.0,Lake View,6,2.6,60058,41.947050,-87.655429
4,6.0,North Center,5,4.5,57123,41.956107,-87.679160

#### 1.3 Showing Top 10 Neighborhoods on Maps

In [253]:
# Getting coordinations for Chicago
address = 'Chicago, IL, USA'

geolocator = Nominatim(user_agent="Chica_explorer")
location = geolocator.geocode(address)
chica_latitude = location.latitude
Chica_longitude = location.longitude
print('The geograpical coordinate of Chicago City are {}, {}.'.format(chica_latitude, Chica_longitude))

The geograpical coordinate of Chicago City are 41.8755616, -87.6244212.

In [254]:
map_chicago = folium.Map(location=[chica_latitude, Chica_longitude], zoom_start=10)

# add markers to map
for lat, lng, hd_index, neighborhood in zip(nbhd_rank_hd['latitude'], nbhd_rank_hd['longitude'], nbhd_rank_hd['hardship_index'], nbhd_rank_hd['community_area_name']):
    label = '{}, {}'.format(neighborhood, hd_index)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_chicago)  
    
map_chicago # showing neighborhoods on map

In [311]:
# Getting Census Data form local data folder
nbhd_schools = pd.read_csv('data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv')
nbhd_schools = nbhd_schools[nbhd_schools['Elementary, Middle, or High School'] == 'HS'].reset_index(drop = True)

In [316]:
nbhd_schools.columns

Index(['School ID', 'NAME_OF_SCHOOL', 'Elementary, Middle, or High School',
       'Street Address', 'City', 'State', 'ZIP Code', 'Phone Number', 'Link ',
       'Network Manager', 'Collaborative Name',
       'Adequate Yearly Progress Made? ', 'Track Schedule',
       'CPS Performance Policy Status', 'CPS Performance Policy Level',
       'HEALTHY_SCHOOL_CERTIFIED', 'Safety Icon ', 'SAFETY_SCORE',
       'Family Involvement Icon', 'Family Involvement Score',
       'Environment Icon ', 'Environment Score', 'Instruction Icon ',
       'Instruction Score', 'Leaders Icon ', 'Leaders Score ',
       'Teachers Icon ', 'Teachers Score', 'Parent Engagement Icon ',
       'Parent Engagement Score', 'Parent Environment Icon',
       'Parent Environment Score', 'AVERAGE_STUDENT_ATTENDANCE',
       'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance',
       'Individualized Education Program Compliance Rate ', 'Pk-2 Literacy %',
       'Pk-2 Math %', 'Gr3-5 Grade Level Math %', 'Gr3-5 Grade Level Read % ',
       'Gr3-5 Keep Pace Read %', 'Gr3-5 Keep Pace Math %',
       'Gr6-8 Grade Level Math %', 'Gr6-8 Grade Level Read %',
       'Gr6-8 Keep Pace Math%', 'Gr6-8 Keep Pace Read %',
       'Gr-8 Explore Math %', 'Gr-8 Explore Read %', 'ISAT Exceeding Math %',
       'ISAT Exceeding Reading % ', 'ISAT Value Add Math',
       'ISAT Value Add Read', 'ISAT Value Add Color Math',
       'ISAT Value Add Color Read', 'Students Taking  Algebra %',
       'Students Passing  Algebra %', '9th Grade EXPLORE (2009) ',
       '9th Grade EXPLORE (2010) ', '10th Grade PLAN (2009) ',
       '10th Grade PLAN (2010) ', 'Net Change EXPLORE and PLAN',
       '11th Grade Average ACT (2011) ', 'Net Change PLAN and ACT',
       'College Eligibility %', 'Graduation Rate %',
       'College Enrollment Rate %', 'COLLEGE_ENROLLMENT',
       'General Services Route ', 'Freshman on Track Rate %', 'X_COORDINATE',
       'Y_COORDINATE', 'Latitude', 'Longitude', 'COMMUNITY_AREA_NUMBER',
       'COMMUNITY_AREA_NAME', 'Ward', 'Police District', 'Location'],
      dtype='object')

In [315]:
columns = ['City']

array(['Chicago'], dtype=object)

In [307]:
nbhd_schools